<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC   
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">   
<hibernate-configuration>
    <session-factory>
        <property name="javax.persistence.validation.mode">none</property> 
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:searcher.db</property>
        <property name="hibernate.dialect">org.hibernate.hoyoung.dialect.SQLiteDialect</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
       <mapping class="net.hoyoung.app.wfp_searcher.entity.NewItem"/>
    </session-factory>
</hibernate-configuration>